@import "tailwindcss";
@import "tw-animate-css";

*{
  direction: rtl;;
}

/* Kalameh font faces */
@font-face {
  font-family: 'kalameh';
  src: url('../assets/fonts/KalamehWeb-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'kalameh';
  src: url('../assets/fonts/KalamehWeb-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'kalameh';
  src: url('../assets/fonts/KalamehWeb-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'kalameh';
  src: url('../assets/fonts/KalamehWeb-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'kalameh';
  src: url('../assets/fonts/KalamehWeb-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'kalameh';
  src: url('../assets/fonts/KalamehWeb-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'kalameh';
  src: url('../assets/fonts/KalamehWeb-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'kalameh';
  src: url('../assets/fonts/KalamehWeb-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'kalameh';
  src: url('../assets/fonts/KalamehWeb-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'kalameh', sans-serif;
}

@keyframes pull {
  0% {
    height: 100px;
    background: #666;
  }

  50% {
    height: 120px;
  }

  100% {
    height: 100px;
  }
}

#turnon:target .light {
  opacity: 0.2;
}

#turnon:target .bulb {
  background: #FAEB83;
}

#turnon:target .turnoff {
  display: block;
}

#turnon:target .lamp {
  display: none;
}

#turnon:target .string {
  animation: pull 500ms;
}